<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>cs</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>cs</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Osobní agent</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>cz.osobniagent.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>osobniagent</string>
			</array>
		</dict>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<false/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>NSFaceIDUsageDescription</key>
	<string>Face ID odemyká tvá šifrovaná data v aplikaci.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Agent zapisuje události do Kalendáře a (pokud to povolíš) zobrazuje tvé události v přehledu. Nic se neposílá mimo telefon.</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>Agent zapisuje připomínky a úkoly do aplikace Připomínky. Nic se neposílá mimo telefon.</string>
	<key>NSAlarmKitUsageDescription</key>
	<string>Budíky a minutky nastavené agentem zazvoní i v tichém režimu.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>Mikrofon slouží k diktování a nahrávání přednášek. Řeč se přepisuje přímo v telefonu a nikam se neposílá.</string>
</dict>
</plist>
